{{>header}}
<p>This site was created by <strong>Lucas Arbex</strong> (from the image below). It uses data from mapbox.com and darsky.net to gather weather informations.</p>
<img src="/img/Avatar.jpg" alt="Lucas Arbex" class="portrait mt-2">
{{>footer}}